<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Iniciar sesión</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
  <ion-item-group>
    <div class="avatar-login mt-2 mb-2">
      <ion-avatar>
        <img
          src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y"
        />
      </ion-avatar>
    </div>
    <ion-item>
      <ion-label position="stacked">Email:</ion-label>
      <ion-input
        placeholder="ejemplo@ejemplo.cl"
        type="email"
        required=""
        autocomplete="on"
      ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Contraseña:</ion-label>
      <ion-input
        placeholder="Contraseña"
        type="password"
        required=""
      ></ion-input>
    </ion-item>
  </ion-item-group>

  <div class="mt-2 boton-login">
    <ion-button
      color="success"
      expand="block"
      fill="outline"
      [routerLink]="['/registro']"
      >Iniciar sesion</ion-button
    >
  </div>

  <ion-label id="texto-crear-cuenta">¿No tienes una cuenta? Sumate!!</ion-label>

  <ion-button
    color="dark"
    expand="block"
    fill="outline"
    [routerLink]="['/registro']"
    >Crear Cuenta</ion-button
  >
</ion-content>
