<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Iniciar sesión</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <form [formGroup]="loginForm" (ngSubmit)="login()">
          <ion-item-group>
            <div class="avatar-login mt-2 mb-2">
              <ion-avatar>
                <img
                  src="https://i.kym-cdn.com/entries/icons/original/000/023/980/db1.jpg"
                />
              </ion-avatar>
            </div>
            <ion-item color="transparent">
              <ion-label position="stacked">Email:</ion-label>
              <ion-input
                placeholder="ejemplo@ejemplo.cl"
                type="email"
                required=""
                autocomplete="on"
                formControlName="email"
              ></ion-input>
            </ion-item>
            <ion-item color="transparent">
              <ion-label position="stacked">Contraseña:</ion-label>
              <ion-input
                placeholder="CoNtRaSeÑa1234"
                type="password"
                required=""
                formControlName="password"
              ></ion-input>
            </ion-item>
          </ion-item-group>

          <div class="mt-2 boton-login">
            <ion-button
              type="submit"
              color="success"
              expand="block"
              fill="outline"
              >Iniciar sesion</ion-button
            >
          </div>

          <ion-label id="texto-crear-cuenta"
            >¿No tienes una cuenta? Sumate!!</ion-label
          >

          <ion-button
            color="dark"
            expand="block"
            fill="outline"
            [routerLink]="['/registro']"
            >Crear Cuenta</ion-button
          >
        </form>
      </div>
    </div>
  </div>
</ion-content>
