<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<div class="a">
<ion-card mode="md" class="i">
  <ion-card-header>
    <ion-card-subtitle>Subtitulo de Carta</ion-card-subtitle>
    <ion-card-title>Titulo de Carta</ion-card-title>
  </ion-card-header>
  <ion-card-content>TEST</ion-card-content>
</ion-card>
<ion-card mode="md" class="d">
  <ion-card-header>
    <ion-card-subtitle>Subtitulo de Carta</ion-card-subtitle>
    <ion-card-title>Titulo de Carta</ion-card-title>
  </ion-card-header>
  <ion-card-content>TEST</ion-card-content>
</ion-card>
</div>

</ion-content>
