<<<<<<< HEAD
.card-group {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.card-text,
.card-title {
  color: black;
}
=======
.a{
    display: inline-flex; flex-wrap: wrap; flex-direction: row; justify-content: space-evenly;
    
}

.d, .i{
    max-width: 42%;
}
>>>>>>> sebastian
