<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Contactanos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
  <div class="row">
    <div class="column">
      <div class="card mt-2" *ngFor="let worker of workers">
        <img
          src="https://i.pinimg.com/564x/d9/56/9b/d9569bbed4393e2ceb1af7ba64fdf86a.jpg"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h1>{{ worker.name }} {{ worker.lastName }}</h1>
          <h4>Email: {{ worker.email }}</h4>
          <h4>Telefono: +{{ worker.phone }}</h4>
        </div>
      </div>
    </div>
  </div>
</ion-content>
