<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Crear cuenta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="text-center">
          <h1>Registro</h1>
          <h4>Por favor ingresa tus datos.</h4>
        </div>
        <ion-item color="transparent">
          <ion-label position="floating">Nombre</ion-label>
          <ion-input [(ngModel)]="client.name" type="text" required></ion-input>
        </ion-item>
        <ion-item color="transparent">
          <ion-label position="floating">Apellido</ion-label>
          <ion-input
            [(ngModel)]="client.lastName"
            type="text"
            required
          ></ion-input>
        </ion-item>
        <ion-item color="transparent">
          <ion-label position="floating">Email</ion-label>
          <ion-input
            [(ngModel)]="client.email"
            type="text"
            required
          ></ion-input>
        </ion-item>
        <ion-item color="transparent">
          <ion-label position="floating">Edad</ion-label>
          <ion-input
            [(ngModel)]="client.age"
            type="number"
            min="0"
            max="100"
            inputmode="numeric"
            required
          ></ion-input>
        </ion-item>
        <ion-item color="transparent">
          <ion-label position="floating">Contraseña</ion-label>
          <ion-input
            [(ngModel)]="client.password"
            type="password"
            required
          ></ion-input>
        </ion-item>
        <ion-item color="transparent">
          <ion-label position="floating">Confirmar Contraseña</ion-label>
          <ion-input
            [(ngModel)]="c_password"
            type="password"
            required
          ></ion-input>
        </ion-item>

        <ion-button
          class="ion-margin-top"
          type="submit"
          expand="block"
          color="light"
          (click)="sendSubmit()"
          color="warning"
          >Crear cuenta</ion-button
        >
      </div>
    </div>
  </div>
</ion-content>
