.label-servicios-titulo {
  text-align: center;
  display: block;
  font-size: large;
}
.card-text,
.card-title {
  color: black;
}

.card {
  background-size: auto;
}
ion-title {
  text-align: center;
}
