<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Servicios</ion-title>
  </ion-toolbar>
</ion-header>

<!--Cards-->
<ion-content fullscreen="true">
  <div class="row">
    <div class="column">
      <div class="card mt-2" *ngFor="let corte of cortes">
        <img [src]="corte.img" class="card-img-top" />
        <div class="card-body">
          <h5 class="card-title">{{ corte.name }}</h5>
          <h6 class="card-text">
            This is a wider card with supporting text below as a natural lead-in
            to additional content. This content is a little bit longer.
          </h6>
          <div class="precio-tiempo">
            <p class="card-text">
              <big>Valor: ${{ corte.price }}</big>
            </p>
            <p class="card-text">
              <small class="text-muted">Tiempo: {{ corte.time }}</small>
            </p>
          </div>
          <ion-button color="primary" expand="block">Agendar</ion-button>
        </div>
      </div>
    </div>
  </div>
</ion-content>
